.profile-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.profile-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.profile-avatar {
  width: 20x;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-info h2 {
  margin: 0;
}
.post-item img {
  width: 50%;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
